.menu 
    .menu-navigations
        button.menu__button
            span.menu__mark
        a.menu__logo(href="/")
            img(src="@img/image/logo.svg", alt="GPS")
        .menu__line
    .menu-socials
        nav 
            ul.menu-links
                li.menu__link
                    a.menu__link--phone.icon--phone(href="/")
                li.menu__link
                    a.menu__link--chat.icon--chat(href="/")
                li.menu__link
                    a.menu__link--contact.icon--person(href="/")
        .menu__line.menu__line--mobile--none
        nav 
            ul.menu-links
                li.menu__link
                    a.menu__link__support.icon--keys(href="/")
                li.menu__link
                    a.menu__link__search.icon--search(href="/")