.sidebar
    .sidebar-wrapper
        .sidebar-header
            .sidebar-buttons
                button.sidebar-buttons__button 
                a.sidebar-buttons__logo(href="/")
                    img(src="@img/image/logo.svg", alt="GPS")
            .sidebar-buttons
                button.sidebar-buttons__search.icon--searck2
        nav.sidebar-navigation
            ul
                li.sidebar-navigation__item.sidebar-navigation__item--active Ремонт техники
                li.sidebar-navigation__item Услуги и сервисы
                li.sidebar-navigation__item Корпоративным клиентам
                li.sidebar-navigation__item Продавцам техники
                li.sidebar-navigation__item Партнерам
                li.sidebar-navigation__item Производителям
                li.sidebar-navigation__item Наши сервисные центры
                li.sidebar-navigation__item Контакты
    .sidebar-contacts 
        .sidebar-links
            a.sidebar-links__link.icon--phone(href="") 
            a.sidebar-links__link.icon--chat(href="") 
            a.sidebar-links__link.icon--person(href="") 
        a.sidebar-contacts__mail(href="") mail@cps.com
        a.sidebar-contacts__phone(href="") 8 800 890 8900
        .sidebar-language 
            a.sidebar-language__items.sidebar-language__items--active(href="") RU
            a.sidebar-language__items(href="") EN
            a.sidebar-language__items(href="") CH
.overlay.overlay--active