html 
    head 
        include html/head
    body
        include html/header
        main
            include html/components/slider-constructor
        include html/footer 
        script(src="js/app.min.js")